<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Test.WoofEditor.ColorSchemes.DarkDefault" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="WoofEditorTest.ColorSchemes.DarkDefault" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Test.WoofEditor.ColorSchemes.DarkDefault>
            <setting name="Background" serializeAs="String">
                <value>40, 43, 43</value>
            </setting>
            <setting name="Text" serializeAs="String">
                <value>138, 138, 138</value>
            </setting>
            <setting name="LineNumberBack" serializeAs="String">
                <value>43, 43, 43</value>
            </setting>
            <setting name="LineNumberFore" serializeAs="String">
                <value>43, 145, 175</value>
            </setting>
            <setting name="CallTipBack" serializeAs="String">
                <value>32, 32, 32</value>
            </setting>
            <setting name="CallTipFore" serializeAs="String">
                <value>43, 145, 175</value>
            </setting>
            <setting name="SelectionBack" serializeAs="String">
                <value>57, 72, 73</value>
            </setting>
            <setting name="Caret" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="CaretLineBack" serializeAs="String">
                <value>24, 24, 24</value>
            </setting>
            <setting name="IndentGuide" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="Marker1" serializeAs="String">
                <value>0, 192, 0</value>
            </setting>
            <setting name="Marker2" serializeAs="String">
                <value>192, 0, 0</value>
            </setting>
            <setting name="Marker3" serializeAs="String">
                <value>Teal</value>
            </setting>
            <setting name="Marker4" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="Comment" serializeAs="String">
                <value>97, 97, 97</value>
            </setting>
            <setting name="Command" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="Content" serializeAs="String">
                <value>Teal</value>
            </setting>
            <setting name="Identifier" serializeAs="String">
                <value>248, 239, 201</value>
            </setting>
            <setting name="Separator" serializeAs="String">
                <value>138, 138, 138</value>
            </setting>
            <setting name="Number" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Keyword" serializeAs="String">
                <value>42, 167, 144</value>
            </setting>
            <setting name="Keyword1" serializeAs="String">
                <value>43, 145, 175</value>
            </setting>
            <setting name="Keyword2" serializeAs="String">
                <value>176, 109, 137</value>
            </setting>
            <setting name="Keyword3" serializeAs="String">
                <value>215, 91, 96</value>
            </setting>
            <setting name="Keyword4" serializeAs="String">
                <value>42, 167, 89</value>
            </setting>
            <setting name="Time" serializeAs="String">
                <value>34, 193, 221</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value>86, 156, 214</value>
            </setting>
            <setting name="Red" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Green" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="Blue" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="White" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Orange" serializeAs="String">
                <value>255, 160, 0</value>
            </setting>
            <setting name="Switch" serializeAs="String">
                <value>0, 192, 192</value>
            </setting>
            <setting name="Word" serializeAs="String">
                <value>42, 167, 144</value>
            </setting>
            <setting name="Word2" serializeAs="String">
                <value>43, 145, 175</value>
            </setting>
            <setting name="Operator" serializeAs="String">
                <value>242, 224, 153</value>
            </setting>
            <setting name="String" serializeAs="String">
                <value>215, 91, 96</value>
            </setting>
            <setting name="Character" serializeAs="String">
                <value>215, 91, 96</value>
            </setting>
            <setting name="Regex" serializeAs="String">
                <value>192, 64, 0</value>
            </setting>
            <setting name="CommentLine" serializeAs="String">
                <value>176, 109, 137</value>
            </setting>
            <setting name="CommentDoc" serializeAs="String">
                <value>97, 97, 97</value>
            </setting>
        </Test.WoofEditor.ColorSchemes.DarkDefault>
        <WoofEditorTest.ColorSchemes.DarkDefault>
            <setting name="Background" serializeAs="String">
                <value>43, 43, 43</value>
            </setting>
            <setting name="LineNumberBack" serializeAs="String">
                <value>43, 43, 43</value>
            </setting>
            <setting name="LineNumberFore" serializeAs="String">
                <value>43, 145, 175</value>
            </setting>
            <setting name="CallTipBack" serializeAs="String">
                <value>68, 68, 68</value>
            </setting>
            <setting name="CallTipFore" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
            <setting name="Text" serializeAs="String">
                <value>153, 153, 153</value>
            </setting>
            <setting name="Comment" serializeAs="String">
                <value>119, 119, 119</value>
            </setting>
            <setting name="SelectionBack" serializeAs="String">
                <value>57, 72, 73</value>
            </setting>
            <setting name="SelectionFore" serializeAs="String">
                <value>196, 196, 196</value>
            </setting>
            <setting name="Caret" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="CaretLineBack" serializeAs="String">
                <value>16, 16, 16</value>
            </setting>
            <setting name="Identifier" serializeAs="String">
                <value>248, 239, 201</value>
            </setting>
        </WoofEditorTest.ColorSchemes.DarkDefault>
    </applicationSettings>
</configuration>